/* TurbineCalculator component styles */

.turbine-calculator {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.turbine-calculator h1 {
	margin: 1rem;
	margin-bottom: 0;
	align-self: flex-start;
	flex-grow: 1;
	font-size: 7.0vmin;
	font-weight: normal;
}

.results .unit {
	font-size: 1.5rem;
	font-weight: normal;
}

.results {
	margin: 1% 1rem;
}

.results h2, .results h3 {
	text-align: right;
	font-weight: normal;
}

.results h2 {
	font-size: 4rem;
	margin: 0;
}

.results h3 {
	line-height: 0.75rem;
	margin-top: 0;
}

.inputs {
	margin: 0 1rem 1rem 1rem;
	padding: 0.75rem;
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 10px;
	min-width: 300px;
}

@media (orientation: landscape) {
	.inputs { 
		align-self: flex-end;
		width: 50%;
	}

	.results {
		margin: 0 1rem;
	}
}